@model sah.Game
@{
    ViewData["Title"] = "Index";
    var board = Model.board;
    bool IsWhite = false;
    if (User.Claims.First().Value == Model.PlayerWhite.name)
    {
        IsWhite = true;
    }
   string IDGame = Model.ID;
}

<h1>Index</h1>
@{
    if (IsWhite)
    {

        <h2>
            @Model.PlayerBlack.name
        </h2>
        <div>
            <h4>Board</h4>
            <hr />
            <dl class="row">
            </dl>
        </div>
        <table border="4" style=" margin-left: auto; margin-right: auto; ">
            @{
                for (int i = 8; i >= 1; i--)
                {
                    <tr>
                        <td style="height:45px; width:45px">
                            @i
                        </td>
                        @{
                            for (char m = 'A'; m <= 'H'; m++)
                            {
                                <td id="@(m)@(i)" style="height:50px; width:50px">



                                    @{
                                        var p = board.GetPieceFrom(i, (proiect_sah.column)((int)m - 64));
                                        if (p != null)
                                        {

                                            string numeImagine = p.pieceType + ((int)p.Color).ToString();
                                            <span id="piesa" data-piesa="@p.pieceType">

                                                <img src="~/Images/@(numeImagine).png" style="width : 50%" />

                                            </span>
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            }

            <tr>
                <td>
                </td>
                @{
                    for (char j = 'A'; j <= 'H'; j++)
                    {
                        <td>
                            @j
                        </td>
                    }

                }
            </tr>

        </table>
        <h2>
            @Model.PlayerWhite.name

        </h2>
    }
    else
    {


        <h2>
            @Model.PlayerWhite.name
        </h2>
        <div>
            <h4>Board</h4>
            <hr />
            <dl class="row">
            </dl>
        </div>
        <table border="4" style=" margin-left: auto; margin-right: auto; ">
            @{
                for (int i = 1; i <= 8; i++)
                {
                    <tr>
                        <td style="height:45px; width:45px">
                            @i
                        </td>
                        @{
                            for (char m = 'H'; m >= 'A'; m--)
                            {
                                <td id="@(m)@(i)" style="height:50px; width:50px">



                                    @{
                                        var p = board.GetPieceFrom(i, (proiect_sah.column)((int)m - 64));
                                        if (p != null)
                                        {

                                            string numeImagine = p.pieceType + ((int)p.Color).ToString();
                                            <span id="piesa" data-piesa="@p.pieceType">

                                                <img src="~/Images/@(numeImagine).png" style="width : 50%" />

                                            </span>
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            }

            <tr>
                <td>
                </td>
                @{
                    for (char j = 'H'; j >= 'A'; j--)
                    {
                        <td>
                            @j
                        </td>
                    }

                }
            </tr>

        </table>
        <h2>
            @Model.PlayerBlack.name

        </h2>

    }
}
<div>
    Introdu mutarea : ex D2 D4
    <p>

    </p>

    <h2>
        @{
            string disabled = "disabled='disabled'";
            if ((Model.WhoShouldMove == proiect_sah.Color.White && IsWhite) || (Model.WhoShouldMove == proiect_sah.Color.Black && !IsWhite))
            {
                disabled = "";
            }
            if(disabled == "disabled='disabled'")
            {
                <script>
                    setTimeout(function () { window.location = window.location; }, 1000);
                </script>
            }
        }
    </h2>
    <input id="AllMoveWhite" value="D2 D4" />
    <button onclick="javascript:MoveGeneric()" @disabled>
        Fin move
    </button>
</div>


<script>
    function MoveGeneric() {
        var moveplayer = document.getElementById("AllMoveWhite").value;
        var arr = moveplayer.split(' ');
        var oldparent = document.getElementById(arr[0]);
        var piesa = oldparent.querySelector("#piesa");
        console.log(piesa);

        window.alert(moveplayer);
        console.log(arr);
        var urlValid = '/Home/IsValid?first=' + arr[0] + '&last=' + arr[1] + '&IDGame=' + "@IDGame";
        var last = arr[1].charAt(1);

        if (last == '1' || last == '8') {
            if (piesa.dataset.piesa == "Pawn") {

                var promoted = window.prompt("Enter promoted piece");
                urlValid = urlValid + '&pl=' + promoted;
            }
        }
        $.ajax({
            url: urlValid,
            success: function (data, textStatus, xhr) {
                window.alert('am primit raspuns ' + data);
                if (data) {
                    //TODO: executa mutare

                    console.log(oldparent);
                    var newparent = document.getElementById(arr[1]);
                    var PieceNewParent = newparent.querySelector("#piesa");
                    if (PieceNewParent != null)
                        newparent.removeChild(PieceNewParent);
                    newparent.append(piesa);
                    window.location = window.location;

                }
                else {
                    //spune-i ca nu se face mutarea
                }

            }
        });
    }
</script>
